<footer>
    <div class="container content">
        <span>
            <a class="sidebar-nav-item" target="_blank" href="{{ site.github.repo }}" title="Github">
                <i class="sidebar__icon fa fa-github"></i>
                GitHub
            </a>
        </span>
        <span>
            <a class="sidebar-nav-item" target="_blank" href="{{ site.linkedIn }}" title="LinkedIn">
                <i class="sidebar__icon fa fa-linkedin-square"></i>
                LinkedIn
            </a>
        </span>
        <span class="sidebar-nav-item">Email: {{ site.email }}</span>
        <span class="sidebar-nav-item">Phone: {{ site.phone }}</span>
    </div>
</footer>